html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #555;
    background: #f1efe3;
}
.content {
    display: block;
    width: calc(100% - 30px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}