html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #555;
    background: #f1efe3;
}
.content {
    display: block;
    width: calc(100% - 30px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.default-button {
    font-size: clamp(0.8rem, 2vw, 1rem);
    border: #555 1px solid;
    color: #555;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    background: #f1efe3;
}

.default-button:hover {
    color: #fff;
    background: #dc5d51;
    border: #dc5d51 1px solid;
}